* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: inherit;
    line-height: 1.43;
}

.pd-l-30 {
    padding-left: 30px;
}
.card-body {
    padding: 20px 0px;
}
.image-card{
    width: 560px;
    height: 315px;
}
.card-title.card-main{
    font-weight: 700;
    font-size: 21px;
    line-height: 30px
}
.card-title a{
    color: #4e4e4e;
}
.card-title a:hover{
    color: #c31e40;
    text-decoration: none;
}
.card-text{
    font-size: 17px;
    line-height: 26px;
    color: #4e4e4e;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    font-weight: 400;
}
.text-just {
    text-align: justify;
}
.card-item .card-body a{
    font-weight: 600;
    font-size: 15px;
    padding-top: 12px;
    color: #4e4e4e;
}
.card-item{
    width: 270px;
}
.image-card_item {
    width: 100%;
    height: 180px;
}
.warp {
    border-bottom: 1px solid #c31e40;
    margin-bottom: 30px;
    margin-top: 30px;
}

.warp .wrap-title {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #c31e40;
    padding-right: 10px;
}
.warp.warp-top {
    padding-left: 22px;
    white-space: nowrap;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin-right: 4px;
    background: url("/src/Image/icon-flat.svg") center left no-repeat;
}
.card-item .card .card-body {
    margin: 0px 5px;
}
.card-title > a:hover {
    color: #c31e40;
    text-decoration: none;
}
.item-news.home >.body--news {
    margin-left: -50px !important;
}
.story--time {
    font-size: 12px;
    line-height: 14px;
    color: #959595;
}
.min-height-700 {
    min-height: 700px;
}
.warp.warp--kind {
    border-left: 8px solid #c31e40;
}
.wrap-title.title-kind {
    font-size: 30px;
    padding-left: 10px;
}
.warp--btn__view {
    text-align: center;
}
.warp--btn__view .btn--load {
    border: 1px solid #666;
    border-radius: 30px;
    box-sizing: border-box;
    color: #666;
    display: block;
    font-size: 15px;
    line-height: 45px;
    min-width: 180px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
    background-color: transparent;
}
.warp--btn__view .btn--load:hover {
    background-color: #c31e40;
    border-color: #c31e40;
    color: #fff;
}


